*,
*:after,
*::before {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	}
body, input, textarea, select, button {
    font-family: "Exo 2", "Trebuchet MS","Helvetica","Arial",'PingFang SC','Hiragino Sans GB','STHeiti Light','Microsoft YaHei','SimHei','WenQuanYi Micro Hei',sans-serif;
}
html {
	font-size: 100%; -webkit-font-smoothing:antialiased;
}
html,body {
	position: relative; width: 100%; height: 100%;
}
body {
	font-size: 1em; line-height: 1.66; -webkit-text-size-adjust:none; color:#345;
}
a {
	color: #096; text-decoration: none; outline: none;
}
a:hover,
a:focus {
	text-decoration: none; outline:none;
}
a:hover {
	color:#5bcf80
}
ul {
	list-style: square
}
img {
	max-width: 100%; height: auto;
}
h4 {
	font-size: 1em;
	margin: 2em 0 .6em 0;
}
.no-touch .container {
	overflow-x: hidden;
}
.container {
	position: relative;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.header {
	z-index: 200;
	margin: 0 auto;
	padding: 2em;
	width: 100%;
	text-align: center;
	-webkit-backface-visibility:hidden;
}
.header img {
	max-height: 160px;
	border-radius: 50%;
}

.header p {
	font-size: 1em;
	margin:.1em 0 .6em;
	display: inline-block;
	font-style: italic;
	font-weight: 800;
	padding:6px 10px;
	background: #44b3ec;
	color:#fff;
	line-height: 1;
}
.vs-triplelayout .vs-nav {
	width:33.33%;
	max-width: 360px;
	height: 60px;
}
.vs-nav {
	position: relative;
	display: block;
	margin: .9em auto 0 auto;
	padding:0;
	list-style: none;
}
.vs-triplelayout .vs-nav li {
	position: absolute;
	visibility: hidden;
	width: 100%;
}
.vs-nav li a {
    position: relative;
    color: #D0DADC;
    letter-spacing: -2px;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.7em;
}
.vs-triplelayout .vs-nav .vs-nav-current {
	left:0%;
}
.vs-triplelayout .vs-nav .vs-nav-current a {
	cursor: default;
}

.vs-triplelayout .vs-nav .vs-nav-right {
	left:100%;
}

.vs-triplelayout .vs-nav .vs-nav-left {
	left:-100%;
}
.vs-triplelayout .vs-nav .vs-nav-right-outer {
 	left: 200%
	}
.vs-triplelayout .vs-nav .vs-nav-left-outer {
 	left: -200%
	}
.container.vs-move-left .vs-nav-left,
.container.vs-move-left .vs-nav-left-outer,
.container.vs-move-left .vs-nav-current,
.container.vs-move-left .vs-nav-right,
.container.vs-move-left .vs-nav-right-outer {
 	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s; transition: transform 0.5s, opacity 0.5s; -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0);
	}
.container.vs-move-right .vs-nav-left,
.container.vs-move-right .vs-nav-left-outer,
.container.vs-move-right .vs-nav-current,
.container.vs-move-right .vs-nav-right,
.container.vs-move-right .vs-nav-right-outer {
 	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s; transition: transform 0.5s, opacity 0.5s; -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0);
	}
.container.vs-move-left .vs-nav-left,
.container.vs-move-right .vs-nav-right {
 	opacity: 0
	}


.vs-triplelayout .vs-nav .vs-nav-left, .vs-triplelayout .vs-nav .vs-nav-right, .vs-triplelayout .vs-nav .vs-nav-left-outer, .vs-triplelayout .vs-nav .vs-nav-right-outer, .vs-triplelayout .vs-nav .vs-nav-current {
    visibility: visible;
}
.vs-nav li a:focus, .vs-triplelayout .vs-nav .vs-nav-current a, .vs-nav li.current_page_item a, .container.vs-move-left .vs-nav-right a, .container.vs-move-right .vs-nav-left a {
    color: #345;
}
.container.vs-move-left .vs-nav-current a,
.container.vs-move-right .vs-nav-current a {
 	color : #D0DADC
	}

.vs-triplelayout .wrapper {
	min-height: 100%;
}
.wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}
.vs-triplelayout .wrapper .vs-left, .vs-triplelayout .wrapper .vs-left-outer, .vs-triplelayout .wrapper .vs-current, .vs-triplelayout .wrapper .vs-right, .vs-triplelayout .wrapper  .vs-right-outer {
	visibility: visible;
}
.vs-triplelayout .wrapper .vs-left {
	left:-100%;
}
.vs-triplelayout .wrapper .vs-left-outer {
	left: -200%;
}
.vs-triplelayout .wrapper .vs-current {
	position: relative;
	z-index: 100;
}
.vs-triplelayout .wrapper .vs-right {
	left:100%;
}
.vs-triplelayout .wrapper .vs-right-outer {
	left: 200%;
}

.container.vs-move-left .vs-left,
.container.vs-move-left .vs-current,
.container.vs-move-left .vs-right,
.container.vs-move-left .vs-right-outer {
 	-webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s; -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0);
	}
.container.vs-move-right .vs-left,
.container.vs-move-right .vs-left-outer,
.container.vs-move-right .vs-current,
.container.vs-move-right .vs-right {
 	-webkit-transition: -webkit-transform 0.5s; transition: transform 0.5s; -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0);
	}
/* FAST NAVIGATE MODE */
.fast-navigate .container.vs-move-left .vs-left,
.fast-navigate .container.vs-move-left .vs-current,
.fast-navigate .container.vs-move-left .vs-right,
.fast-navigate .container.vs-move-left .vs-right-outer {
 	-webkit-transition: -webkit-transform 0.1s; transition: transform 0.1s; -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0);
	}
.fast-navigate .container.vs-move-right .vs-left,
.fast-navigate .container.vs-move-right .vs-left-outer,
.fast-navigate .container.vs-move-right .vs-current,
.fast-navigate .container.vs-move-right .vs-right {
 	-webkit-transition: -webkit-transform 0.1s; transition: transform 0.1s; -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0);
	}
.fast-navigate .container.vs-move-left .vs-nav-left,
.fast-navigate .container.vs-move-left .vs-nav-left-outer,
.fast-navigate .container.vs-move-left .vs-nav-current,
.fast-navigate .container.vs-move-left .vs-nav-right,
.fast-navigate .container.vs-move-left .vs-nav-right-outer {
 	-webkit-transition: -webkit-transform 0.1s, opacity 0.1s; transition: transform 0.1s, opacity 0.1s; -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0);
	}
.fast-navigate .container.vs-move-right .vs-nav-left,
.fast-navigate .container.vs-move-right .vs-nav-left-outer,
.fast-navigate .container.vs-move-right .vs-nav-current,
.fast-navigate .container.vs-move-right .vs-nav-right,
.fast-navigate .container.vs-move-right .vs-nav-right-outer {
 	-webkit-transition: -webkit-transform 0.1s, opacity 0.1s; transition: transform 0.1s, opacity 0.1s; -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0);
	}
/* Page Opacity Effect */
.vs-triplelayout .vs-right,
.vs-triplelayout .vs-left,
.vs-triplelayout .vs-left-outer,
.vs-triplelayout .vs-right-outer,
.container.vs-triplelayout.vs-move-left .vs-current,
.container.vs-triplelayout.vs-move-right .vs-current {
 	opacity: .3
	}
.container.vs-triplelayout.vs-move-left .vs-right,
.container.vs-triplelayout.vs-move-right .vs-left {
 	opacity: 1
	}
.vs-sidenav {
	display: none;
	}
.vs-sidenav div {
 	position: fixed; top: 0; z-index: 500; width: 10%; height: 100%; cursor: pointer;
	}
.vs-sidenav .vs-sidenav-left {
 	left: 0px
	}
.vs-sidenav .vs-sidenav-right {
 	right: 0px
	}

.vs-tripelayou .wrapper > section {
	width: 90%;
	left:5%;
}
.wrapper > section {
	z-index: 1;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 0 30px;
	width: 100%;
	background: #fff;
}
.vs-triplelayout .wrapper > section {
	position: absolute;
	top:0;
	left:0%;
	margin:0;
	visibility: hidden;
	-webkit-backface-visibility:hidden;
}
.content {
	position:relative;
	padding: 1em 2em;
	margin: auto;
	width: 100%;
	text-align: left;
}
@media screen and (min-width: 1200px){
	.row{
		margin-left: -20px;
		margin-right: -20px;
	}
}
.section-title {
	position: relative;
	margin-bottom: 1em;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
}
.section-title:before {
	content:"";
	position: absolute;
	top:50%;
	left:0;
	margin-top: 3px;
	width:100%;
	border-bottom: 4px solid #f4f6f7;
}
.section-title span {
	position: relative;
	display: inline-block;
	padding-right: 1.4em;
	background: #fff;
}
h2 i[class^="icon-"], h2 i[class*=" icon-"], h2 i.fa {
	font-size: 16px;
	margin-right: 14px;
	line-height: 39px;
	text-align: center;
	color:#b7c6c9;
	background: #fff;
	border-radius:50%;
	border:4px solid #f4f6f7;
	display: inline-block;
	width:47px;
}
h2 i[class^="icon-"]:before, h2 i[class*=" icon-"]:before, h2 i.fa:before {
		display: inline; margin-left: 0; margin-right: 0;
}
.center {
	text-align: center;
}
.intro {
	text-align: center;
	padding: 0 0 1em 0;
}
.intro h2 {
	font-size: 2.0em;
	font-weight: 300;
	line-height: 1.4;
}
/* ROTATE WORDS */
.rotate-words {
	display: inline-block; min-width: 180px; min-height: 34px; text-align: left; text-indent: 4px;
	}
.rotate-words span {
	position: absolute; opacity: 0; font-weight: 800; letter-spacing: -1px;
	}
.rotate-words span.rotate-in {
	animation: rotateInWord .5s linear forwards;
	-webkit-animation: rotateInWord .5s linear forwards;
	}
.rotate-words span.rotate-out {
	animation: rotateOutWord .5s linear forwards;
	-webkit-animation: rotateOutWord .5s linear forwards;
	}
.rotate-words span:first-child {
	opacity: 1; 
	}
.no-csstransforms .rotate-words span {
	display: none; opacity: 1;
	}

@-webkit-keyframes rotateInWord {
    0% { opacity: 0; -webkit-transform: translateY(-30px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-webkit-keyframes rotateOutWord {
    0% { opacity: 1; -webkit-transform: translateY(0px); }
	100% { opacity: 0; -webkit-transform: translateY(30px); }
}
@keyframes rotateInWord {
    0% { opacity: 0; transform: translateY(-30px); }
	100% { opacity: 1; transform: translateY(0px); }
}
@keyframes rotateOutWord {
    0% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; transform: translateY(30px); }
}

.service {
	text-align: center;
	padding: 1.6em 0 2em 0;
}
.service i {
	display: inline-block;
	width: 86px;
	line-height: 86px;
	font-size: 32px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
}
.color1 i {
	background: #f8cb30;
}
.color2 i {
	background: #74bade;
}
.color3 i {
	background: #5BCF80;
}
.color4 i {
	background: #E25E5B;
}
.process {
	position: relative;
	text-align: center;
}
.process .process-box {
	width: 120px;
	height: 120px;
	padding: 24px 10px;
	margin: 1em auto 3em;
	background: #eaeeef;
	border-radius: 50%;
}
.process-box i {
	font-size: 30px;
	width: 52px;
	line-height: 52px;
}
.process-box h4 {
	margin: 0;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: .07em;
}
.section-title + p {
	margin-top: 2em;
}
input[type=submit], input[type=botton], button, a.button {
	display: inline-block;
	position: relative;
	padding: 1.3em 2.6em;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.2;
	border: 0;
	outline:0;
	background: #fff;
	border:2px solid #6a7686;
	color:#6a7686;
	border-radius: 4px;
}
input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.button:hover,
input[type=submit].colored,
input[type=button],
button.colored,
a.button.colored {
 	color: #fff; background-color: #096; border-color: transparent;
	}
input[type=submit].colored:hover,
input[type=button]:hover,
button.colored:hover,
a.button.colored:hover {
	background: #085; 
	}
input[type=submit].colored:active,
input[type=button]:active,
button.colored:active,
a.button.colored:active {
	background: #074; 
	}
input[type=submit]:active,
input[type=button]:active,
button:active,
a.button:active {
 	color: #eee;
	}

.filters {
	list-style: none;
	padding: 0;
	margin: 2em 0;
	text-align: center;
}
.filters li {
	display: inline-block;
	margin: .6em .4em;
}
.filters li a {
	color:#b8c7ca;
	font-size: 11px;
	letter-spacing: .1em;
	padding:7px 12px;
	border:1px solid #dde4e6;
	border-radius: 4px;
}
.filters .current a, .filters .current a:hover {
	color: #fff;
	background: #345;
	border-color: transparent;
}
.media-grid {
	min-height: 200px;
	width:102.8%;
	margin-left: -1.4%;
}
.media-grid .media-cell {
	float: left;
	width:25%;
	padding: 10px 20px;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}
.media-grid .media-cell.x2 {
	width:50%;
}
.hentry {
	padding: 0.25em 0 2.5em 0;
}
.media-grid .media-box {
	margin-bottom: 0;
}
.media-box {
	position: relative;
	margin-bottom: 30px;
	background-color: #fff;
}
.media-box img {
	display: block;
	width:100%;
}
.media-box:hover img {
		-webkit-filter: saturate(20%); filter: saturate(20%);
		}
.media-box .mask {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
	background: rgba(51,71,93,0.6);
}
.media-box:hover .mask {
		opacity: 1; filter: alpha(opacity = 100);
}
.media-box .mask:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -38px 0 0 -38px;
    width: 76px;
    line-height: 76px;
    font-size: 18px;
    text-align: center;
    content: "\f0ca";
    color: #fff;
    background: #096;
    border-radius: 50%;
}
.media-box a {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
}
.portfolio-items .media-cell-desc {
	text-align: center;
}
.media-cell-desc {
	padding: 28px 40px;
	border-style: solid;
	border-width: 1px;
	background: #fff;
	border-color: #eaedef;
	border-radius: 0 0 4px 4px;
}
.media-cell-desc h3 {
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: .03em;
}
.media-cell-desc p {
	font-size: 13px;
	letter-spacing: .04em;
	margin: 0;
	color: #a7b6b9;
}

@media screen and (max-width: 767px){
	.timeline {
		padding-left: 0;
	}
	.timeline h2, .event h4, event h5 {
		text-align: center;
	}
	.event {
		padding: 16px;
		margin-top: 104px;
	}
	.event:first-of-type {
		margin-top: 116px;
	}
	.event:first-of-type .data {
		top:-74px;
	}
	.event .data {
		top:64px;
		left:50%;
		margin-left: -32px;
	}
	.event p:before {
		left:50%;
		z-index: -1;
	}

}
.timeline {
	position: relative;
	padding-left: 112px;
	padding-bottom: 8px;
}
.timeline h2 {
	position: relative;
	margin-bottom: 2em;
	font-size: 19px;
	font-weight: 300;
	letter-spacing: 1px;
}
.timeline h2 [class^="icon-"] {
	display: block;
	font-size: 28px;
	position: absolute;
	top:-27px;
	left: -112px;
	width: 86px;
	line-height: 78px;
	margin: 0;
	z-index: 120;
}

.event {
	position: relative;
	padding: 26px 32px;
	margin-bottom: 3em;
	background: #fff;
	border:3px solid #edf1f3;
	border-radius: 6px;
}
.event:before, .event:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content:"";
	height: 0;
	widows: 0;
	position: absolute;
	pointer-events: none;
}
.event:before {
	border-right-color: #edf1f3;
	border-width: 15px;
	margin-top: -15px;
}
.event.current .data{
	border-color:#345;
	outline:5px solid #fff;
	background-color: #345;
}
.event .data {
	position: absolute;
	top: 45%;
	margin-top: -24px;
	left: -106px;
	width: 68px;
	line-height: 58px;
	text-align: center;
	background: #5BCF80;
	display: block;
	z-index: 120;
	color: #fff;
	border-radius: 50%;
	border: 5px solid #fff;
	font-family: Oswald;
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 1px;
}
.event h4 {
	margin: 0;
	padding: 0;
}
.event h5 {
	margin: 0;
	padding: .5em 0 .3em 0;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	color: #c9d5d6;
}
.event p {
	margin: .6em 0 .2em 0;
	font-size: 14px;
	letter-spacing: .02em;
}
.timeline + .timeline .event:last-child p:before {
	height: 76%;
}
.event p:before{
	display: block;
	content:"";
	position: absolute;
	top: -30px;
	left: -72px;
	height: 160%;
	width: 4px;
	background: #f4f6f7;
}
.skillset {
	padding: 0 0 3.2em 0;
}
.skill-unit {
	padding-bottom: 0;
}
.skill-unit h4 {
	margin-bottom: -26px;
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 1px;
	color: #fff;
	position: relative;
	z-index: 100;
	padding-left: 14px;
	text-transform: uppercase;
}
.skill-unit .bar {
	position: relative;
	width: 100%;
	height: 36px;
}
.skill-unit .bar .progress {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	border-radius: 4px;
	background: #5BCF80;
	/*box-shadow: 4px 4px 0 #e7e7e7;*/
}
.skill-unit h4 {
	line-height: 1.66em;
}














.skill-unit .bar .progress, .event .date, .letter-info p i, .media-cell-desc .date, #nprogress .bar, #fancybox-close, .portfolio-nav a.button.back {
	background: #5bcf80;
}
